@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Manage.ManageBrandModel
@{
    ViewBag.Title = DbRes.T("Manage.Brands.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Manage.Brands.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">

    @if (!Model.ListBrands.Any())
    {
        <span>
            @DbRes.T("Manage.Brands.NoBrandsAvailable", "Resources")
        </span>
    }

    <ul>

    @foreach (var brand in Model.ListBrands)
    {
        <li>
            <strong>@brand.Name</strong> 
            @Html.AuthorizedActionLink(DbRes.T("General.Edit", "Resources"), "Brands", "Manage", new { message = string.Empty, brandid = brand.BrandID }, null )<br />
            <span>@brand.Description</span>
        </li>
    }

    </ul>
</section>

<section class="form">

    <h2>@ViewBag.FormHeader</h2>

    @using (Html.BeginForm("SaveBrand", "Manage")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@ViewBag.Legend</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.BrandModel.Name)
                    @Html.TextBoxFor(m => m.BrandModel.Name, new { maxlength = 255 })
                    @Html.ValidationMessageFor(m => m.BrandModel.Name)
                </li>
                <li>
                    @Html.LabelFor(m => m.BrandModel.Description)
                    @Html.TextAreaFor(m => m.BrandModel.Description, new { maxlength = 255 })
                    @Html.ValidationMessageFor(m => m.BrandModel.Description)
                </li>
            </ol>
            @Html.HiddenFor(m => m.BrandModel.BrandID)
            <input type="submit" value="@ViewBag.ButtonText" />
        
            @if (Model.BrandModel.BrandID > 0)
            {
                @Html.ActionLink(DbRes.T("General.Cancel", "Resources"), "Brands", "Manage")
            }
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}