@using ParTech.ImageLibrary.Core.Utils
@model ParTech.ImageLibrary.Core.ViewModels.Manage.ManageCategoryModel
@{
    ViewBag.Title = "Categories";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">

    @if (!Model.ListCategories.Any())
    {
        <span>
            No categories available.
        </span>
    }

    <ul>

    @foreach (var category in Model.ListCategories)
    {
        <li>
            <strong>@LanguageString.GetStringForCurrentLanguage(category.Name)</strong> @Html.AuthorizedActionLink("Edit", "Categories", "Manage", new { message = string.Empty, categoryid = category.CategoryID }, null )<br />
        </li>
    }

    </ul>
</section>

<section class="form">

    <h2>@ViewBag.FormHeader</h2>

    @using (Html.BeginForm("SaveCategory", "Manage")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@ViewBag.Legend</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.CategoryModel.Name)
                    @Html.TextBoxFor(m => m.CategoryModel.Name)
                    @Html.ValidationMessageFor(m => m.CategoryModel.Name)
                </li>
            </ol>
            @Html.HiddenFor(m => m.CategoryModel.CategoryID)
            <input type="submit" value="@ViewBag.ButtonText" />
        
            @if (Model.CategoryModel.CategoryID > 0)
            {
                @Html.ActionLink("Cancel", "Categories", "Manage")
            }
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}