@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Manage.ManageCollectionModel
@{
    ViewBag.Title = DbRes.T("Manage.Collections.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Manage.Collections.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">

    @if (!Model.ListCollections.Any())
    {
        <span>
            @DbRes.T("Manage.Collections.NoCollectionsAvailable", "Resources")
        </span>
    }

    <ul>

    @foreach (var collection in Model.ListCollections)
    {
        <li>
            <strong>@collection.Name</strong> 
            @Html.AuthorizedActionLink(DbRes.T("General.Edit", "Resources"), "Collections", "Manage", new { message = string.Empty, collectionid = collection.CollectionID }, null )<br />
        </li>
    }

    </ul>
</section>

<section class="form">

    <h2>@ViewBag.FormHeader</h2>

    @using (Html.BeginForm("SaveCollection", "Manage")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@ViewBag.Legend</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.CollectionModel.Name)
                    @Html.TextBoxFor(m => m.CollectionModel.Name, new { maxlength = 255 })
                    @Html.ValidationMessageFor(m => m.CollectionModel.Name)
                </li>
            </ol>
            @Html.HiddenFor(m => m.CollectionModel.CollectionID)
            <input type="submit" value="@ViewBag.ButtonText" />
        
            @if (Model.CollectionModel.CollectionID > 0)
            {
                @Html.ActionLink(DbRes.T("General.Cancel", "Resources"), "Collections", "Manage")
            }
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}