@using Westwind.Globalization
@{
    ViewBag.Title = DbRes.T("Manage.Index.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Manage.Index.PageTitle", "Resources")</h1>
</hgroup>

<section class="pagebody">
    
    <ul>
        @if (@Html.ActionIsAccessibleToUser("Brands", "Manage"))
        {
            <li>@Html.ActionLink(DbRes.T("Manage.Index.BrandsLink", "Resources"), "Brands", "Manage")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Categories", "Manage"))
        {
            <li>@Html.ActionLink(DbRes.T("Manage.Index.CategoriesLink", "Resources"), "Categories", "Manage")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Collections", "Manage"))
        {
            <li>@Html.ActionLink(DbRes.T("Manage.Index.CollectionsLink", "Resources"), "Collections", "Manage")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Genders", "Manage"))
        {
            <li>@Html.ActionLink(DbRes.T("Manage.Index.GendersLink", "Resources"), "Genders", "Manage")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Seasons", "Manage"))
        {
            <li>@Html.ActionLink(DbRes.T("Manage.Index.SeasonsLink", "Resources"), "Seasons", "Manage")</li>
        }

    </ul>

</section>