@using ParTech.ImageLibrary.Core.Utils
@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Manage.ManageSeasonModel
@{
    ViewBag.Title = DbRes.T("Manage.Seasons.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Manage.Seasons.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">

    @if (!Model.ListSeasons.Any())
    {
        <span>
            @DbRes.T("Manage.Seasons.NoSeasonsAvailable", "Resources")
        </span>
    }

    <ul>

    @foreach (var season in Model.ListSeasons)
    {
        <li>
            <strong>@LanguageString.GetStringForCurrentLanguage(season.Name)</strong> 
            @Html.AuthorizedActionLink(DbRes.T("General.Edit", "Resources"), "Seasons", "Manage", new { message = string.Empty, Seasonid = season.SeasonID }, null )<br />
        </li>
    }

    </ul>
</section>

<section class="form">

    <h2>@ViewBag.FormHeader</h2>

    @using (Html.BeginForm("SaveSeason", "Manage")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@ViewBag.Legend</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.SeasonModel.Name)
                    @Html.TextBoxFor(m => m.SeasonModel.Name, new { maxlength = 255 })
                    @Html.ValidationMessageFor(m => m.SeasonModel.Name)
                </li>
            </ol>
            @Html.HiddenFor(m => m.SeasonModel.SeasonID)
            <input type="submit" value="@ViewBag.ButtonText" />
        
            @if (Model.SeasonModel.SeasonID > 0)
            {
                @Html.ActionLink(DbRes.T("General.Cancel", "Resources"), "Seasons", "Manage")
            }
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}