@using ParTech.ImageLibrary.Core.Utils
@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.Models.Product
@{
    ViewBag.Title = DbRes.T("Admin.ShowProducts.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Admin.ShowProducts.PageTitle", "Resources")</h1>
</hgroup>

<input type="button" value="@DbRes.T("Admin.ShowProducts.BtnBack", "Resources")" onclick="history.go(-1);" />

@Html.Partial("_StatusMessage")

<section class="pagebodysmall">
    <ul>
        <li>
            @DbRes.T("General.Name", "Resources"): @Model.Name
        </li>
        <li>
            @DbRes.T("General.EDI", "Resources"): @Model.EDI
        </li>
        <li>
            @DbRes.T("General.SKU", "Resources"): @Model.SKU
        </li>
        <li>
            @DbRes.T("General.Year", "Resources"): @Model.Year
        </li>
        <li>
            @DbRes.T("General.Material", "Resources"): @Model.Material
        </li>
        <li>
            @DbRes.T("General.Size", "Resources"): @Model.Size
        </li>
        <li>
            @DbRes.T("General.Brand", "Resources"): @Model.Brand.Name
        </li>
        <li>
            @DbRes.T("General.Category", "Resources"): @LanguageString.GetStringForCurrentLanguage(Model.Category.Name)
        </li>
        <li>
            @DbRes.T("General.Collection", "Resources"): 
            @if (Model.Collection == null)
            {
                @Html.Raw("-");
            }
            else
            {
                @Model.Collection.Name;
            }
        </li>
        <li>
            @DbRes.T("General.Gender", "Resources"): @LanguageString.GetStringForCurrentLanguage(Model.Gender.Name)
        </li>
        <li>
            @DbRes.T("General.Season", "Resources"): @LanguageString.GetStringForCurrentLanguage(Model.Season.Name)
        </li>
    </ul>

    <hgroup class="title">
        <h2>@DbRes.T("Admin.ShowProduct.ListSubTitle", "Resources")</h2>
    </hgroup>

    @if (!Model.Images.Any())
    {
        <span>
            @DbRes.T("Admin.ShowProduct.NoImagesAvailable", "Resources")
        </span>
    }
    else
    {
        foreach (var image in Model.Images)
        {
            <div class="draggableimage">
                <div class="imagecontainer" data-imageid="@image.ImageID">
                    <img src="@Url.Action("ShowThumbnail", "Admin", new { imageid = image.ImageID })" />
                </div>
                <div class="datacontainer">
                    @Html.AuthorizedActionLinkOrText(image.Product.Name, "ShowProduct", "Admin", new { productid = image.ProductID }, null)<br />
                    @image.Resolution; @image.ImageFormat.Replace("image/", string.Empty)
                </div>
            </div>
        }
    }
</section>


@section Scripts {
}