@using Westwind.Globalization
@{
    Layout = null;
}
Content-Type: text/html; charset=utf-8
To: @ViewBag.To
From: no-reply@partechit.nl
Subject: @DbRes.T("Emails.ResetPassword.Subject", "Resources")

<html>
    <body>
        <p>@DbRes.T("General.Hello", "Resources") @ViewBag.UserName,</p>
        <p>
           @DbRes.T("Emails.ResetPassword.Paragraph1", "Resources")
        </p>
        <p>
            @DbRes.T("Emails.ResetPassword.NewPasswordLabel", "Resources"): @ViewBag.NewPassword
        </p>
    </body>

</html>