@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Byer.ByerBrandsModel
@{
    ViewBag.Title = DbRes.T("Byer.Brands.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Byer.Brands.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">

    @if (!Model.ListBrands.Any())
    {
        <span>
            @DbRes.T("Byer.Brands.NoBrandsAvailable", "Resources")
        </span>
    }
    else
    {
        <ul>

        @foreach (var brand in Model.ListBrands)
        {
            <li>
                <strong>@Html.AuthorizedActionLinkOrText(@brand.Name, "ShowBrand", "Byer", new { brandid = brand.BrandID }, null)</strong><br />
                
                @if (!string.IsNullOrEmpty(brand.Description))
                {
                    <span>@brand.Description</span><br />
                }

                <span>@DbRes.T("General.NoOfProducts", "Resources"): @brand.Products.Count</span>
            </li>
        }

        </ul>
    }
</section>

@section Scripts {
}