@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Byer.ByerCollectionsModel
@{
    ViewBag.Title = DbRes.T("Byer.Collections.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Byer.Collections.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")


<section class="pagebody">

    @if (!Model.ListCollections.Any())
    {
        <span>
            @DbRes.T("Byer.Collections.NoCollectionsAvailable", "Resources")
        </span>
    }
    else
    {
        <ul>

        @foreach (var collection in Model.ListCollections)
        {
            <li>
                <strong>@Html.AuthorizedActionLinkOrText(@collection.Name, "ShowCollection", "Byer", new { collectionid = collection.CollectionID }, null)</strong><br />
                <span>@DbRes.T("General.NoOfProducts", "Resources"): @collection.Products.Count</span>
            </li>
        }

        </ul>
    }
</section>

@section Scripts {
}