@using ParTech.ImageLibrary.Core.Repositories
@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.Models.Collection

@{
    ViewBag.Title = DbRes.T("Byer.ShowCollection.MetaTitle", "Resources");
    
    var imageRepository = new ImageRepository();
}

<hgroup class="title">
    <h1>@DbRes.T("Byer.ShowCollection.PageTitle", "Resources")</h1>
</hgroup>

<input type="button" value="@DbRes.T("Byer.ShowCollection.BtnBack", "Resources")" onclick="history.go(-1);" />

@Html.Partial("_StatusMessage")


<section class="pagebody">
    <ul>
        <li>
            @DbRes.T("General.Name", "Resources"): @Model.Name
        </li>
    </ul>

    <hgroup class="title">
        <h2>@DbRes.T("Byer.ShowCollection.ListSubTitle", "Resources")</h2>
    </hgroup>

    @if (!Model.Products.Any())
    {
        <span>
            @DbRes.T("Byer.ShowCollection.NoProductsAvailable", "Resources")
        </span>
    }
    else
    {
        @Html.AuthorizedActionLink(DbRes.T("Byer.ShowCollection.AddAllImagesToCartLink", "Resources"), "AddCollectionImagesToShoppingCart", "Byer", new { collectionid = Model.CollectionID }, new { @class = "button"})
        
        <table>
            <tr>
                <th>@DbRes.T("General.Name", "Resources")</th>
                <th>@DbRes.T("General.EDI", "Resources")</th>
                <th>@DbRes.T("General.SKU", "Resources")</th>
                <th>@DbRes.T("General.Year", "Resources")</th>
                <th>@DbRes.T("General.Material", "Resources")</th>
                <th>@DbRes.T("General.Size", "Resources")</th>
                <th>@DbRes.T("General.NoOfImages", "Resources")</th>
            </tr>

        @foreach (var product in Model.Products)
        {
            var noOfImages = imageRepository.CountImagesForProduct(product.ProductID).ToString();
            
            <tr>
                <td>@Html.AuthorizedActionLink(@product.Name, "ShowProduct", "Byer", new { productid = product.ProductID }, null)</td>
                <td>@product.EDI</td>
                <td>@product.SKU</td>
                <td>@product.Year</td>
                <td>@product.Material</td>
                <td>@product.Size</td>
                <td>@Html.Raw(noOfImages)</td>
            </tr>
        }

        </table>
    }
</section>

@section Scripts {
}