@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Account.LocalUserModel

<h3>@DbRes.T("ChangeUserProfileDataPartial.PageSubtitle", "Resources")</h3>

@using (Html.BeginForm("SaveUserProfileData", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@DbRes.T("ChangeUserProfileDataPartial.ChangeUserDataFormLegend", "Resources")</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email, new { @class = "required" } )
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
        </ol>
        @Html.HiddenFor(m => m.Id)
        <input type="submit" value="@DbRes.T("ChangeUserProfileDataPartial.BtnSubmit", "Resources")" />
    </fieldset>
}