@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Account.LoginModel
@{
    ViewBag.Title = DbRes.T("Login.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Login.PageTitle", "Resources")</h1>
</hgroup>

<section class="form">
    <h2>@DbRes.T("Login.PageSubtitle", "Resources")</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@DbRes.T("Login.LoginFormLegend", "Resources")</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="@DbRes.T("Login.BtnSubmit", "Resources")" />
        </fieldset>
        <p>
            @Html.ActionLink(DbRes.T("Login.RecoverLink", "Resources"), "Recover") @DbRes.T("Login.RecoverLinkPart2", "Resources")
        </p>
        <p>
            @Html.ActionLink(DbRes.T("Login.RegisterLink", "Resources"), "Register") @DbRes.T("Login.RegisterLinkPart2", "Resources")
        </p>
    }
</section>

@*
<section class="secondform">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
