@model ParTech.ImageLibrary.Core.ViewModels.Account.LocalAccountModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@Html.Partial("_StatusMessage")

<section class="form">
    @Html.Partial("_ChangePasswordOptionsPartial", Model.PasswordModel)
</section>

<section class="form">
    @Html.Partial("_ChangeUserProfileDataPartial", Model.UserModel)
</section>

@*
<section class="form">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
