@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Account.LocalAccountModel
@{
    ViewBag.Title = DbRes.T("Manage.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Manage.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="form">
    @Html.Partial("_ChangePasswordOptionsPartial", Model.PasswordModel)
</section>

<section class="form">
    @Html.Partial("_ChangeUserProfileDataPartial", Model.UserModel)
</section>

@*
<section class="form">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
