@model ParTech.ImageLibrary.Core.ViewModels.Account.RecoverModel
@{
    ViewBag.Title = "Recover password";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="form">
    <h2>Recover from a forgotten password.</h2>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Forgot Password Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
            </ol>
            <input type="submit" value="Recover" />
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
