@using ParTech.ImageLibrary.Core.ViewModels.General
@using Westwind.Globalization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title @DbRes.T("Layout.MetaTitleAddition", "Resources")</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Css/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left fifty-percent-width">
                    <div id="changelanguage">
                        @Html.Partial("_ChangeLanguagePartial", new ChangeLanguageModel())
                    </div>
                    <div id="search">
                        @Html.Partial("_SearchPartial", new SearchModel())
                    </div>
                </div>
                <div class="float-right">
                    <div id="login">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
                <div class="clear-fix"></div>
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(@DbRes.T("Layout.SiteTitle", "Resources"), "Index", "Home")</p>
                </div>
                <div class="float-right">
                    @Html.Partial("_MainMenuPartial")
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>@Html.Raw(string.Format(@DbRes.T("Layout.CopyrightStatement", "Resources"), DateTime.Now.Year))</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
