@using Westwind.Globalization
<nav>
    <ul id="menu">
        <li>@Html.ActionLink(DbRes.T("General.Home", "Resources"), "Index", "Home")</li>
        
        @if (@Html.ActionIsAccessibleToUser("ShowUsers", "Admin"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.ShowUsersLink", "Resources"), "ShowUsers", "Admin")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Index", "Admin"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.IndexLink", "Resources"), "Index", "Admin")</li>
        }
                        
        @if (@Html.ActionIsAccessibleToUser("Images", "Seller"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.SellerImagesLink", "Resources"), "Images", "Seller")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Products", "Seller"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.SellerProductsLink", "Resources"), "Products", "Seller")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Index", "Manage"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.ManageLink", "Resources"), "Index", "Manage")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("DownloadHistory", "Seller"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.SellerDownloadHistoryLink", "Resources"), "DownloadHistory", "Seller")</li>
        }
        
        @if (@Html.ActionIsAccessibleToUser("Images", "Byer"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.ByerImagesLink", "Resources"), "Images", "Byer")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Brands", "Byer"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.ByerBrandsLink", "Resources"), "Brands", "Byer")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("Collections", "Byer"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.ByerCollectionsLink", "Resources"), "Collections", "Byer")</li>
        }
        @if (@Html.ActionIsAccessibleToUser("DownloadHistory", "Byer"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.ByerDownloadHistoryLink", "Resources"), "DownloadHistory", "Byer")</li>
        }

        @if (@Html.ActionIsAccessibleToUser("EditProfile", "Profile"))
        {
            <li>@Html.ActionLink(DbRes.T("MainMenuPartial.EditProfileLink", "Resources"), "EditProfile", "Profile")</li>
        }
    </ul>
</nav>