@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Seller.SellerProductModel

<hgroup class="title">
    <h2>@ViewBag.FormHeader</h2>
</hgroup>

@using (Html.BeginForm("SaveProduct", "Seller")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Legend</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name, new { @class = "required" } )
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Edi, new { @class = "required" } )
                @Html.TextBoxFor(m => m.Edi)
                @Html.ValidationMessageFor(m => m.Edi)
            </li>
            <li>
                @Html.LabelFor(m => m.Sku, new { @class = "required" } )
                @Html.TextBoxFor(m => m.Sku)
                @Html.ValidationMessageFor(m => m.Sku)
            </li>
            <li>
                @Html.LabelFor(m => m.Year, new { @class = "required" } )
                @Html.TextBoxFor(m => m.Year)
                @Html.ValidationMessageFor(m => m.Year)
            </li>
            <li>
                @Html.LabelFor(m => m.Material)
                @Html.TextBoxFor(m => m.Material)
                @Html.ValidationMessageFor(m => m.Material)
            </li>
            <li>
                @Html.LabelFor(m => m.Size)
                @Html.TextBoxFor(m => m.Size)
                @Html.ValidationMessageFor(m => m.Size)
            </li>
            <li>
                @Html.LabelFor(m => m.BrandId, new { @class = "required" } )
                @Html.DropDownListFor(m => m.BrandId, new SelectList(Model.BrandItems, "BrandID", "Name"), DbRes.T("General.MakeAChoice", "Resources")) @Html.AuthorizedActionLink(DbRes.T("Seller.AddEditProductPartial.ManageBrandsLink", "Resources"), "Brands", "Manage")
                @Html.ValidationMessageFor(m => m.BrandId)
            </li>
            <li>
                @Html.LabelFor(m => m.CategoryId, new { @class = "required" } )
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.CategoryItems, "CategoryID", "Name"), DbRes.T("General.MakeAChoice", "Resources")) @Html.AuthorizedActionLink(DbRes.T("Seller.AddEditProductPartial.ManageCategoriesLink", "Resources"), "Categories", "Manage")
                @Html.ValidationMessageFor(m => m.CategoryId)
            </li>
            <li>
                @Html.LabelFor(m => m.CollectionId)
                @Html.DropDownListFor(m => m.CollectionId, new SelectList(Model.CollectionItems, "CollectionID", "Name"), DbRes.T("General.MakeAChoice", "Resources")) @Html.AuthorizedActionLink(DbRes.T("Seller.AddEditProductPartial.ManageCollectionsLink", "Resources"), "Collections", "Manage")
                @Html.ValidationMessageFor(m => m.CollectionId)
            </li>
            <li>
                @Html.LabelFor(m => m.GenderId, new { @class = "required" } )
                @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.GenderItems, "GenderID", "Name"), DbRes.T("General.MakeAChoice", "Resources")) @Html.AuthorizedActionLink(DbRes.T("Seller.AddEditProductPartial.ManageGendersLink", "Resources"), "Genders", "Manage")
                @Html.ValidationMessageFor(m => m.GenderId)
            </li>
            <li>
                @Html.LabelFor(m => m.SeasonId, new { @class = "required" } )
                @Html.DropDownListFor(m => m.SeasonId, new SelectList(Model.SeasonItems, "SeasonID", "Name"), DbRes.T("General.MakeAChoice", "Resources")) @Html.AuthorizedActionLink(DbRes.T("Seller.AddEditProductPartial.ManageSeasonsLink", "Resources"), "Seasons", "Manage")
                @Html.ValidationMessageFor(m => m.SeasonId)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ProductId)
        <input type="submit" value="@ViewBag.ButtonText" />
        
        @if (Model.ProductId > 0)
        {
            @Html.ActionLink(DbRes.T("General.Cancel", "Resources"), "Products", "Seller")
        }
    </fieldset>
}