@using ParTech.ImageLibrary.Core.Repositories
@using Westwind.Globalization
@model List<ParTech.ImageLibrary.Core.Models.OrderLine>
@{
    ViewBag.Title = DbRes.T("Seller.DownloadHistory.MetaTitle", "Resources");

    var userRepository = new UserRepository();
}

<hgroup class="title">
    <h1>@DbRes.T("Seller.DownloadHistory.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">

    @if (!Model.Any())
    {
        <span>
            @DbRes.T("Seller.DownloadHistory.NoDownloadsAvailable", "Resources")
        </span>
    }
    else
    {
        <table>
            <tr>
                <th>@DbRes.T("General.DownloadedOn", "Resources")</th>
                <th>@DbRes.T("General.By", "Resources")</th>
                <th>@DbRes.T("General.Details", "Resources")</th>
                <th>@DbRes.T("General.Price", "Resources")</th>
                <th>@DbRes.T("General.Invoiced", "Resources")</th>
            </tr>

        @foreach (var download in Model)
        {
            var byerProfile = userRepository.GetProfile(download.BuyerID);
            var byerUserProfile = userRepository.GetUserProfileById(download.UserID);
            var dwnClass = "notBilled";
            if (download.InvoiceID != null)
            {
                dwnClass = "billed";
            }
                
            <tr class="@dwnClass">
                <td>
                    @download.created.ToString("g")
                </td>
                <td>
                    @byerProfile.CompanyName<br />
                    @byerUserProfile.UserName
                </td>
                <td>
                    @DbRes.T("General.Product", "Resources"): @download.ProductName<br />
                    @DbRes.T("General.Resolution", "Resources"): @download.Image.Resolution<br />
                    @DbRes.T("General.Type", "Resources"): @download.Image.ImageFormat.Replace("image/", string.Empty)
                </td>
                <td>
                    @download.Price.ToString("C")
                </td>
                <td>
                    @if (download.Invoice != null)
                    {
                        @DbRes.T("General.Yes", "Resources")
                    }
                    else
                    {
                        @DbRes.T("General.No", "Resources")
                    }
                </td>
            </tr>
        }

        </table>
    }
</section>