@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Seller.SellerImagesModel
@{
    ViewBag.Title = DbRes.T("Seller.Images.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Seller.Images.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebodysmall">
    @if (!Model.ListImages.Any())
    {
        <span>
            @DbRes.T("Seller.Images.NoImagesAvailable", "Resources")
        </span>
    }
    else
    {
        foreach (var image in Model.ListImages)
        {
            <div class="nondraggableimage">
                <div class="imagecontainer">
                    <img src="@Url.Action("ShowThumbnail", "Seller", new { imageid = image.ImageID })" />
                </div>
                <div class="datacontainer">
                    @Html.AuthorizedActionLinkOrText(image.Product.Name, "ShowProduct", "Seller", new { productid = image.ProductID }, null)<br />
                    @image.Resolution; @image.ImageFormat.Replace("image/", string.Empty)
                </div>
            </div>
        }
    }
</section>

<section class="uploadform">
    <h2>@DbRes.T("Seller.Images.UploadImagesForm.Title", "Resources")</h2>

    @using (Html.BeginForm("UploadImage", "Seller", FormMethod.Post, new { enctype = "multipart/form-data", id = "upload" }))
    {
        <div id="question">
            @Html.LabelFor(m => m.Product, @DbRes.T("Seller.Images.UploadImagesForm.LinkThemToThisProductLabel", "Resources"))
            @Html.DropDownList("product", new SelectList(Model.ListProducts, "ProductID", "Name"), DbRes.T("General.MakeAChoice", "Resources"))
        </div>		

        <div id="drop">
            @DbRes.T("Seller.Images.UploadImagesForm.Intro", "Resources")

            <a>@DbRes.T("General.Browse", "Resources")</a>
            <input type="file" name="upl" multiple />
        </div>
        
	    <ul>
		    <!-- The file uploads will be shown here -->
	    </ul>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryupload")
}