@model ParTech.ImageLibrary.Core.ViewModels.Seller.SellerImageModel
@{
    ViewBag.Title = "Your images";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">
    @if (!Model.ListImages.Any())
    {
        <span>
            No images available.
        </span>
    }
    else
    {
        foreach (var image in Model.ListImages)
        {
            <div class="image">
                <div class="imagecontainer">
                    <img src="@Url.Action("ShowThumbnail", "Seller", new { imageid = image.ImageID })" />
                </div>
                <div class="datacontainer">
                    Product: @Html.AuthorizedActionLinkOrText(image.Product.Name, "ShowProduct", "Seller",  new { productid = image.ProductID }, null)<br />
                    Resolution: @image.Resolution<br />
                    Type: @image.ImageFormat.Replace("image/", string.Empty)
                </div>
            </div>
        }
    }
</section>

<section class="form">
    <hgroup class="title">
        <h2>Upload images</h2>
    </hgroup>

    @using (Html.BeginForm("UploadImage", "Seller", FormMethod.Post, new { enctype = "multipart/form-data", id = "upload" }))
    {
        <div class="question">
            @Html.LabelFor(m => m.Product, "Link them to this product")
            @Html.DropDownList("product", new SelectList(Model.ListProducts, "ProductID", "Name"), "-- make a choice --")
        </div>		
        
        <div id="drop">
		    Drop Here

		    <a>Browse</a>
		    <input type="file" name="upl" multiple />
	    </div>

	    <ul>
		    <!-- The file uploads will be shown here -->
	    </ul>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryupload")
}