@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Seller.SellerProductsModel
@{
    ViewBag.Title = DbRes.T("Seller.Products.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Seller.Products.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">

    @if (!Model.ListProducts.Any())
    {
        <span>
            @DbRes.T("Seller.Products.NoProductsAvailable", "Resources")
        </span>
    }
    else
    {
        <table>
            <tr>
                <th></th>
                <th>@DbRes.T("General.Name", "Resources")</th>
                <th>@DbRes.T("General.EDI", "Resources")</th>
                <th>@DbRes.T("General.SKU", "Resources")</th>
                <th>@DbRes.T("General.Year", "Resources")</th>
                <th>@DbRes.T("General.Material", "Resources")</th>
                <th>@DbRes.T("General.Size", "Resources")</th>
                <th>@DbRes.T("General.NoOfImages", "Resources")</th>
            </tr>

        @foreach (var product in Model.ListProducts)
        {
            <tr>
                <td>
                    @Html.AuthorizedActionLink(DbRes.T("General.Edit", "Resources"), "Products", "Seller", new { message = string.Empty, productid = product.ProductID }, null)
                </td>
                <td>@Html.AuthorizedActionLink(@product.Name, "ShowProduct", "Seller",  new { productid = product.ProductID }, null)</td>
                <td>@product.EDI</td>
                <td>@product.SKU</td>
                <td>@product.Year</td>
                <td>@product.Material</td>
                <td>@product.Size</td>
                <td>@product.Images.Count()</td>
            </tr>
        }

        </table>
    }
</section>

<section class="form">
    @Html.Partial("_AddEditProductPartial", Model.SellerProductModel)
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}