@using ParTech.ImageLibrary.Core.Utils
@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.Models.Product
@{
    ViewBag.Title = DbRes.T("Seller.ShowProduct.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Seller.ShowProduct.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebodysmall">

    <input type="button" value="@DbRes.T("Seller.ShowProduct.BtnBack", "Resources")" onclick="history.go(-1);" />

    <ul>
        <li>
            @DbRes.T("General.Name", "Resources"): @Model.Name
        </li>
        <li>
            @DbRes.T("General.EDI", "Resources"): @Model.EDI
        </li>
        <li>
            @DbRes.T("General.SKU", "Resources"): @Model.SKU
        </li>
        <li>
            @DbRes.T("General.Year", "Resources"): @Model.Year
        </li>
        <li>
            @DbRes.T("General.Material", "Resources"): @Model.Material
        </li>
        <li>
            @DbRes.T("General.Size", "Resources"): @Model.Size
        </li>
        <li>
            @DbRes.T("General.Brand", "Resources"): @Model.Brand.Name
        </li>
        <li>
            @DbRes.T("General.Category", "Resources"): @LanguageString.GetStringForCurrentLanguage(Model.Category.Name)
        </li>
        <li>
            @DbRes.T("General.Collection", "Resources"): 
            @if (Model.Collection == null)
            {
                @Html.Raw("-");
            }
            else
            {
                @Model.Collection.Name;
            }
        </li>
        <li>
            @DbRes.T("General.Gender", "Resources"): @LanguageString.GetStringForCurrentLanguage(Model.Gender.Name)
        </li>
        <li>
            @DbRes.T("General.Season", "Resources"): @LanguageString.GetStringForCurrentLanguage(Model.Season.Name)
        </li>
    </ul>

    <hgroup class="title">
        <h2>@DbRes.T("Seller.ShowProduct.ListSubTitle", "Resources")</h2>
    </hgroup>

    @if (!Model.Images.Any())
    {
        <span>
            @DbRes.T("Seller.ShowProduct.NoImagesAvailable", "Resources")
        </span>
    }
    else
    {
        foreach (var image in Model.Images)
        {
            <div class="image">
                <div class="imagecontainer">
                    <img src="@Url.Action("ShowThumbnail", "Seller", new { imageid = image.ImageID })" />
                </div>
                <div class="datacontainer">
                    @DbRes.T("General.Resolution", "Resources"): @image.Resolution<br />
                    @DbRes.T("General.Type", "Resources"): @image.ImageFormat.Replace("image/", string.Empty)
                </div>
            </div>
        }
    }
</section>

<section class="uploadform">
    <h2>@DbRes.T("Seller.ShowProducts.UploadImagesForm.Title", "Resources")</h2>

    @using (Html.BeginForm("UploadImage", "Seller", FormMethod.Post, new { enctype = "multipart/form-data", id = "upload" }))
    {
        @Html.Hidden("product", @Model.ProductID)        
        
        <div id="drop">
		    @DbRes.T("Seller.ShowProducts.UploadImagesForm.Intro", "Resources")

		    <a>@DbRes.T("General.Browse", "Resources")</a>
		    <input type="file" name="upl" multiple />
	    </div>

	    <ul>
		    <!-- The file uploads will be shown here -->
	    </ul>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryupload")
}