@using Westwind.Globalization
@model ParTech.ImageLibrary.Core.ViewModels.Profile.AdditionalAccountsModel
@{
    ViewBag.Title = DbRes.T("Profile.AdditionalAccounts.MetaTitle", "Resources");
}

<hgroup class="title">
    <h1>@DbRes.T("Profile.AdditionalAccounts.PageTitle", "Resources")</h1>
</hgroup>

@Html.Partial("_StatusMessage")

<section class="pagebody">
    @if (Model.ListUserProfiles == null || !Model.ListUserProfiles.Any())
    {
        <span>
            @DbRes.T("Profile.AdditionalAccounts.NoAccountAvailable", "Resources")
        </span>
    }
    else
    {
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>@DbRes.T("General.UserName", "Resources")</th>
                <th>@DbRes.T("General.Email", "Resources")</th>
                <th>@DbRes.T("General.Created", "Resources")</th>
            </tr>

            @foreach (var userProfile in Model.ListUserProfiles)
            {
                var createdDateString = "-";
                if (userProfile.webpages_Membership.CreateDate != null)
                {
                    createdDateString = userProfile.webpages_Membership.CreateDate.ToString();
                }
                <tr>
                    <td>
                        @if (userProfile.webpages_Membership.IsConfirmed == null ||
                            !(bool)userProfile.webpages_Membership.IsConfirmed)
                        {
                            @Html.AuthorizedActionLinkOrText(DbRes.T("Profile.AdditionalAccounts.SendConfirmationLink", "Resources"), "SendConfirmationEmail", "Admin", new { userid = userProfile.Id, returnTo = "AdditionalAccounts" }, null)
                        }
                        else if (userProfile.Active)
                        {
                            @Html.AuthorizedActionLinkOrText(DbRes.T("Profile.AdditionalAccounts.DeactivateUserLink", "Resources"), "DeactivateUser", "Admin", new { userid = userProfile.Id, returnTo = "AdditionalAccounts" }, null)
                        }
                        else
                        {
                            @Html.AuthorizedActionLinkOrText(DbRes.T("Profile.AdditionalAccounts.ActivateUserLink", "Resources"), "ActivateUser", "Admin", new { userid = userProfile.Id, returnTo = "AdditionalAccounts" }, null)
                        }                      
                    </td>
                    <td>@userProfile.UserName</td>
                    <td>@userProfile.Email</td>
                    <td>@createdDateString</td>
                </tr>
            }

        </table>
    }
</section>

<section class="form">

    <h2>@ViewBag.FormHeader</h2>

    @using (Html.BeginForm("SaveAccount", "Profile"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@ViewBag.Legend</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserProfileModel.UserName, new { @class = "required" } )
                    @Html.TextBoxFor(m => m.UserProfileModel.UserName, new { maxlength = 255 })
                    @Html.ValidationMessageFor(m => m.UserProfileModel.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.UserProfileModel.Password, new { @class = "required" } )
                    @Html.PasswordFor(m => m.UserProfileModel.Password, new { maxlength = 255 })
                    @Html.ValidationMessageFor(m => m.UserProfileModel.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.UserProfileModel.ConfirmPassword, new { @class = "required" } )
                    @Html.PasswordFor(m => m.UserProfileModel.ConfirmPassword, new { maxlength = 255 })
                    @Html.ValidationMessageFor(m => m.UserProfileModel.ConfirmPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.UserProfileModel.UserEmail, new { @class = "required" } )
                    @Html.TextBoxFor(m => m.UserProfileModel.UserEmail, new { maxlength = 255 })
                    @Html.ValidationMessageFor(m => m.UserProfileModel.UserEmail)
                </li>
            </ol>
            @Html.HiddenFor(m => m.UserProfileModel.UserProfileId)
            <input type="submit" value="@ViewBag.ButtonText" />
        
            @if (Model.UserProfileModel.UserProfileId > 0)
            {
                @Html.ActionLink(DbRes.T("General.Cancel", "Resources"), "AdditionalAccounts", "Profile")
            }
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}